body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222831;
}

.background-image {
    background-image: url('./images/myflixwallpaperlandscape.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


@import '~bootstrap/scss/bootstrap.scss';

